main {
  /* set a maximum width for the body */
  width: 100%;
  margin: 0 auto;
}
.container {
  padding-top: 8%;
}
.hero {
  position: relative;
  background: url(./public/hero4.jpg);
  min-height: 82vh;
  background-size: cover;
  background-position: center 80% bottom 20%;
}

.row {
  margin-top: 0;
  padding-top: 2rem;
}

.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}

.col-md-6 {
  width: 100%;
}

/* book card style */
.card:hover .product-details {
  display: block !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
}
.card-body {
  padding: 0 !important;
}

/* end of book card style */

/* books details style */
.row {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.card {
  border: none;
}
.product {
  background-color: #eee;
}
.brand {
  font-size: 13px;
}
.act-price {
  color: red;
  font-weight: 700;
}
.dis-price {
  text-decoration: line-through;
}
.about {
  font-size: 1rem;
}
.color {
  margin-bottom: 10px;
}

.cart i {
  margin-right: 10px;
}
/* end of books details  */

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 40px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid #647a85;
}

.search .fa-search {
  position: absolute;
  top: 12px;
  left: 16px;
}

.search a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3px;
  right: 5px;
  height: 32px;
  width: 100px;
  background: #2d4156;
}
/* dropdown style */
.dropdown-menu.show {
  text-align: center;
}
/* end of dropdown style */

/* media screen  */
@media only screen and (width> 2156px) {
  .container {
    padding-top: 8%;
  }
  main {
    width: 50%; /* set the body width to 60% of the screen width */
  }
}
@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}
@media only screen and (max-width: 991px) {
  .hero {
    background-position: center;
  }
  .container {
    padding-top: 5%;
  }
  .hero {
    min-height: 70vh;
  }
  main .row {
    margin-top: 0.5rem;
    padding-top: 1rem;
  }
  .col-md-6 {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    padding-top: 20%;
  }
}
